@model TvmBaiKiemTraGk.Models.tvmKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tvmKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TvmTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TvmTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TvmTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TvmTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TvmMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
